.left {
  padding-top: 20px;
}
.left .avatar {
  margin-left: 50px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff url("../../../images/avatar.png") no-repeat center;
  -webkit-background-size: 60%;
  background-size: 60%;
}
.left .avatar img {
  width: 100%;
  height: 100%;
}
.left .base-info {
  padding-top: 20px;
  padding-left: 30px;
  color: #333;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.left .base-info li {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.left .base-info li span:first-child {
  color: #777;
}
.left .job-chart {
  width: 100%;
  height: 220px;
}

/*内容区*/
.page-content .right {
  position: absolute;
  top: 0;
  right: 0;
  /*float: right;*/
  width: 350px;
  height: 100%;
  border-left: 1px solid #e5e5e5;
  overflow: hidden;
  overflow-y: auto;
}
.page-content .right .card-panel {
  margin: 20px;
  height: 108px;
  text-align: center;
  background: #009688;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.page-content .right .card-panel p {
  line-height: 40px;
}
.page-content .right .card-panel p.date {
  margin-top: 15px;
}
.page-content .right .card-panel p.time {
  font-size: 30px;
}
.page-content .right .class-intro {
  width: 100%;
  height: 280px;
  overflow: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #e6e6e6;
}
.page-content .right .class-intro .layui-collapse {
  border-radius: 0;
  border-width: 0;
  /*border-left-width: 0;*/
  /*border-right-width: 0;*/
  /*border-bottom-width: 0;*/
}
.page-content .right .class-intro .layui-collapse .layui-colla-title {
  background-color: #f2f2f2;
  font-weight: 300;
}
.page-content .right .chart-wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
}
.page-content .right .chart-wrap .layui-tab {
  margin: 0;
}
.page-content .right .chart-wrap .layui-tab .layui-tab-title {
  height: 42px;
  background-color: #f2f2f2;
}
.page-content .right .chart-wrap .layui-tab .layui-tab-title li {
  height: 42px;
  line-height: 42px;
}
.page-content .right .chart-wrap .layui-tab .layui-tab-title .layui-this {
  color: #009688;
}
.page-content .right .chart-wrap .layui-tab .layui-tab-title .layui-this::after {
  height: 43px;
  border-bottom-color: #009688;
}
.page-content .right .chart-wrap .layui-tab .layui-tab-content {
  top: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*中间主内容区域*/
.page-content .main-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 351px;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}
.page-content .main-content .layui-col-space10 {
  margin: 0;
}
.page-content .main-content .x-admin-backlog-body h3 {
  font-size: 14px;
}
/*.page-content .main-content .x-admin-backlog-body p cite {*/
  /*color: #48c7c4;*/
/*}*/
.page-content .main-content .select-this {
  background-color: #cfcfcf;
}
/*表格*/
.page-content .table-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 130px;
  padding: 0 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-content .table-wrap .layui-table {
  margin-top: 0;
}
.page-content .table-wrap .layui-laypage {
  margin-top: 0;
}

.layui-colla-content {
  color: #333;
}