
/* 菜单栏*/
.dtree-menubar {padding-left: 10px;}
.dtree-menubar .layui-btn-group .layui-btn-sm{height: 20px;line-height: 20px;padding: 0 5px;font-size: 12px;}
.dtree-menubar .layui-btn-group .layui-btn-sm i{font-size: 12px!important;}

/* 工具栏*/
.dtree-toolbar{position: absolute;z-index: 940520;padding: 0;background-color: #eceaeb;}
.dtree-toolbar .layui-nav-child{position: static;}
.dtree-toolbar .layui-nav-child dd{cursor: pointer;}
.dtree-toolbar .layui-nav-child dd a i.dtreefont{font-size:16px;display: inline-block;margin: 0px 1px;color:#fe7786;}
.dtree-toolbar .layui-nav-child dd a i.dtreefont:hover{font-weight: bold;}
.dtree-toolbar .layui-nav-bar{display: none!important;}
.dtree-toolbar-tool{padding: 30px;}

/* 树基本*/
.dtree{width:260px;}
.dtree-nav-item{line-height:33px;padding-left:16px;}
.dtree-nav-ul-sid{display: none;}

/* 图标及复选框*/
.dtreefont{cursor: pointer;}
.dtreefont-special{margin: 0 4px;}
.dtree-nav-checkbox-div{display: inline-block;}
.dtree-nav-checkbox-div>i.dtreefont{display: inline-block;margin: 0px 1px;}
.dtree-nav-checkbox-div>i.dtreefont:last-child{margin-right: 4px;}
.dtree-nav-checkbox-div>i.dtreefont:hover{opacity:0.8;filter:Alpha(opacity=80);}

/* 行 文字*/
.dtree-nav-div{display:block;vertical-align:top;position:relative;cursor: pointer;}
.dtree-nav-div cite{font-style: normal;cursor: pointer;}
.dtree-nav-div:hover cite{opacity:0.7;filter:Alpha(opacity=70);transition: all .3s;-webkit-transition: all .3s;}

/* 规则属性*/
.dtree-nav-show {display: block!important;}
.dtree-nav-this {}
.dtree-icon-hide {opacity:0;filter:Alpha(opacity=0);}
.dtree-icon-null-open,.dtree-icon-null-close,.dtree-icon-null{margin: 0 2px;}

/* 简单适配*/
@media screen and (max-width:1700px) and (min-width:1300px){	
	.dtree-nav-item {padding-left: 15px;}
}

/**************** 主题换肤  ****************/
/* 默认风格*/
.dtree-theme-item-this{background-color: #d2d2d2!important;}
.dtree-theme-item:hover{background-color: #eaeceb!important;}
.dtree-theme-item cite{font-size:14px!important;}
.dtree-theme-item:hover cite{color:#fe7786!important;}

.dtree-theme-dtreefont{font-size: 16px!important;}
.dtree-theme-ficon{color:#000!important;}
.dtree-theme-icon{color:orange!important;}
.dtree-theme-checkbox:hover{color:#fe7786!important;}
.dtree-theme-choose{color:#fe7786!important;}

/* layui主题风格*/
.dtree-layui-item-this{background-color: #d2d2d2!important;}
.dtree-layui-item:hover{background-color: #eaeceb!important;}
.dtree-layui-item cite{font-size:14px!important;}
.dtree-layui-item:hover cite{color:#5FB878!important;}

.dtree-layui-dtreefont{font-size: 16px!important;}
.dtree-layui-ficon{font-size: 14px!important;color:#666!important;}
.dtree-layui-icon{color:#666!important;}
.dtree-layui-checkbox:hover{color:#5FB878!important;}
.dtree-layui-choose{color:#5FB878!important;}





